#wrap{
    width: 100%;
    font-family: 'NanumSquare';
    overflow: hidden;
}

/* header */
#header{
    background: #fff;
    height: 14.4444vw;
}
#header .top{
    display: flex;
    align-items: center;

}
#header .top h1{
    margin-left: 5.8333vw;
margin-top: 1.6667vw;
}
#header .top h1 a img{}
#header .top p:nth-of-type(1){
 
padding-left: 54.1667vw;
padding-top: 3.0556vw;
}

#header .top p:nth-of-type(2){
    padding-top: 1.6667vw;
    padding-left: 9.7222vw;
  
}

#header .bg{
    position: fixed;
    width: 90vw;
    height: 100vh;
    background: #fff;
    right: 0;top: 0;
    z-index: 10;
    opacity: 0;
    transition: 0.3s;
    pointer-events: none;
}

#header .bg.on{
    opacity: 1;
}

#header .nav {
    /* display: none; */
    z-index: 500;
    position: fixed;
    right: -100%;
    top: 0;
    width: 80%;
}

#header .nav.on{
    right: 0.0000vw;
}
#header .nav .gnb {
    margin-top: 27.7778vw;
}
#header .nav .gnb li {

    width: 77.7778vw;
    position: relative;
    padding: 1.3889vw 0;
}
#header .nav .gnb > li >a {
    font-size:5.5556vw;
    line-height: 1.8;
    display: block;
    color:#000;
    border-bottom: 0.2778vw solid #000;
}
#header .nav .gnb >li> a> i{
   position: absolute;
   right: 8.3333vw;top: 2.5000vw;
   
}
#header .nav .gnb >li> ul {
    padding:5.5556vw 0;
    display: none;
}
#header .nav .gnb >li>  ul> li {
    padding: 1.3889vw 0;
}
#header .nav .gnb >li>  ul> li> a{
    font-size: 4.4444vw;
    line-height: 1.5;
    color: #000;
   
}
.nav .close{
    position: absolute;
    right: 5.5556vw;
    top: 11.1111vw;
    cursor: pointer;
}
.nav .close i{
font-size: 7.7778vw;
color: #000;
}

.nav .hide-nav{
    font-size: 3.8889vw;
    display: flex;
    justify-content: space-around;

    padding-top: 8.3333vw;
    padding-left: 0.0000vw;
    background: #fff;

}
.nav .hide-nav li{
    padding-right: 5.5556vw;
}







/* visual */
#visual{
    width: 100%;
    height: 144.4444vw;
    position: relative;
}

#visual  .main-text{
    width: 86.1111vw;
    height: 22.2222vw;
    position: absolute;
    left: 7.7778vw;top: 52.7778vw;
    text-align: center;
    z-index: 10;
    color: #fff;

    
}
#visual .main-text strong{
    display: inline-block;
font-size: 4.4444vw;
padding-bottom: 1.1111vw;
font-weight: 600;
}
#visual .main-text h2{
font-size: 5.5556vw;
padding-bottom: 1.9444vw;
font-weight: 800;
}
#visual .main-text p{
font-size: 3.8889vw;
}
#visual .main-text p span{
    display: inline-block;
    color: #00a0ca;
    font-weight: 600;
}





/* main */
/* #content */

/* #content .product */

#content .product {
    width: 100%;
    height: 143.0556vw;
    overflow: hidden;
    text-align: center;
    padding-top: 5.5556vw;
}
#content .product>span{
    display: inline-block;
    width: 2.7778vw;
    height: 0.4167vw;
    background: #000;
    /* border: 0.2778vw solid #000; */
    text-align: center;

}
#content .product h2{
    text-align: center;
    font-size: 5.5556vw;
    font-weight: 700;
    top: 13.8889vw;
    margin-top: 4.1667vw;
}
#content .product .swiper-product .swiper-slide{
    display: inline-block;
    text-align: center;
}
#content .product .swiper-product .swiper-slide img{
    height: 55.5556vw;
    width: 55.5556vw;
    padding-top: 11.1111vw;
    display: inline-block;
 
}
#content .product .swiper-product .swiper-slide h3{
font-size: 4.4444vw;
padding-top: 6.9444vw;
font-weight: 700;
/* color: #00a0ca; */
}
#content .product .swiper-product .swiper-slide p{
font-size: 4.1667vw;
padding-top: 5.5556vw;
font-weight: 500;
}
#content .product .swiper-product > .swiper-pagination{
    display: inline-block;
    padding-top: 13.8889vw;
    bottom: -97.2222vw;
    font-size: 3.8889vw;
    /* color: #00a0ca; */
}
#content .product .swiper-product>.swiper-button-next{
margin-top: 115.2778vw;
color: #00a0ca; 
margin-right: 4.1667vw;
}
#content .product .swiper-product>.swiper-button-prev{
    margin-top: 115.2778vw;
    margin-left: 4.1667vw;
    color: #00a0ca; 
    }
    


/* #content .brand */

#content .brand{
    width: 100%;
    height: 111.1111vw;
    overflow: hidden;
    text-align: center;
}
#content .brand>span{
    margin-top: 8.3333vw;
    display: inline-block;
    width: 2.7778vw;
    height: 0.4167vw;
    background: #000;
    text-align: center;

}
#content .brand> h2{
    text-align: center;
    font-size: 5.5556vw;
    font-weight: 700;
    top: 13.8889vw;
    margin-top: 4.1667vw;
}

#content .brand .swiper-brand{}
#content .brand .swiper-brand .swiper-wrapper{
    text-align: center;
    /* display: block; */
}
#content .brand .swiper-brand .swiper-slide{
    display: inline-block;
    text-align: center;
    position: relative;
}
#content .brand .swiper-brand .swiper-slide{

}

#content .brand .swiper-brand img{
    width: 56.6667vw;
    height: 65.0000vw;
    padding-top: 11.1111vw;
    text-align: center;
    display: inline-block;
}
#content .brand .swiper-brand > .swiper-pagination{
    bottom: -216.6667vw;
}


/* content .news*/

#content .news{
    width: 100%;
    
  padding: 5.0000vw;
  position: relative;
}

#content .news .text{

    
}
#content .news .text h2{ 
    padding-top: 22.2222vw;

    font-size: 5.5556vw;
    font-weight: 700;
    top: 13.8889vw;
    padding-bottom: 5.5556vw;
}
#content .news .text p{
    position: absolute;
    right: 15.2778vw;top: 34.4444vw;
    font-size: 3.8889vw;
}

#content .news  .text p a{}
#content .news .text p a i{
    font-size: 3.8889vw;
}

#content .news .text table{
 font-size: 4.1667vw;
 width: 88.8889vw;
 height: 86.6667vw;
 
}
#content .news .text table tr{
    height: 13.8889vw;
    border: 0.2778vw solid rgba(0, 0, 0, 0.255);
    border-left: none;
    border-right: none;
    line-height: 13.8889vw;
    
}

#content .news  .text table tr:first-child{
    border-top: 0.5556vw solid rgba(0, 0, 0, 0.555);
}
#content .news .text table tr td{
    font-weight: 500;
    display: block;
    color: #00a0ca;
}
#content.news .text table tr td:nth-child(2){
    padding-left: 30.5556vw;
    color: #999;
}



/* content .contribution */


#content .contribution{
    background: #fff;
    width: 266.6667vw;
    
    position: relative;
    padding-left: 5.0000vw;
   
}
#content .contribution ul{
    display: flex;
    /* margin-left: 76.3889vw; */
    width: 88.8889vw;
    justify-content: space-between;
    padding-bottom: 16.6667vw;
  
}
#content  .contribution ul li{
    width: 43.0556vw;
    
    overflow: hidden;
   
}
#content .contribution ul li img{

}
#content  .contribution ul li h3{
    font-size: 3.8889vw;
    font-weight: 600;
    margin-top: 4.1667vw;
   
}


#content  .contribution ul li span{
    color: #00a0ca;
    font-weight: 500;
    margin: 2.7778vw 0;
    display: inline-block;
    font-size: 3.8889vw;
}

#content .contribution  h2{
    padding-top: 22.2222vw;
    font-size: 5.5556vw;
    font-weight: 700;
    padding-top: 13.8889vw;
    padding-bottom: 8.3333vw;
}
#content .contribution .text > p{
    position: absolute;
    left: 88.8889vw;top:22.2222vw;
}
#content  .contribution .text  a i{
    font-size: 4.4444vw;
}


/* #content .recruit */

#content .recruit{
    width: 100%;
    height: 39.4444vw;
/* background: pink; */
background-repeat: no-repeat;
background-position: 0 0;
background: url(../images/recruit.png);
background-size: cover;

}
#content .recruit .text{
    padding-left: 5.0000vw;
}
#content .recruit .text h2{

    font-size: 5.0000vw;
    font-weight: 800;
    top: 13.8889vw;
    padding-bottom: 5.5556vw;
    color: #fff;
    padding-top: 9.7222vw;
}
#content .recruit .text span{}
#content .recruit .text p{
    font-size: 4.1667vw;
    color: #fff;
}
#content .recruit .text p >strong{
    display: inline-block;
    font-weight: 600;
    color: #00a0ca;
}
#content .recruit .text p>i{
    padding-left: 10.5556vw;
    font-size: 5.5556vw;
}


/* #content  .direct1*/
#content .direct1{
    display: flex;
    text-align: center;
    height: 47.2222vw;


    

}


/* .direct1 .walk */


#content .walk{
    width: 50.0000vw;
    background-repeat: no-repeat;
    background-position: 0 0;
    background: url(../images/run.png);
    background-size: cover;
   
    
}
#content .walk  a h2{
    font-size: 5.0000vw;
    padding-bottom: 1.3889vw;
    padding-top: 12.5000vw;
    font-weight: 800;
    color: #fff;
}
#content .walk p{
    font-size: 4.4444vw;
    color: #fff;
}


/* .direct1 .dmall */

#content .dmall{
    width: 50.0000vw;
    background-repeat: no-repeat;
background-position: 0 0;
background: url(../images/dmall.png);
background-size: cover;

}
#content .dmall h2{
    font-size: 5.0000vw;
    padding-bottom: 5.5556vw;
    padding-top: 12.5000vw;
    font-weight: 800;
    color: #fff;
}
#content .dmall p{
    font-size: 4.4444vw;
    color: #fff;
}



/* #content .direct2*/
#content .direct2{
    display: flex;
    justify-content: space-around;
    padding-bottom: 16.6667vw;

}

/* #content .direct2 .left*/

#content .direct2 .left{
    padding-top: 19.4444vw;
}
#content .direct2 .left ul{

}
#content .direct2 .left ul li{
    border: 0.1389vw solid #d9d9d9;
    width: 43.8889vw;
    height: 12.5000vw;
    margin-bottom: 2.7778vw;
    line-height: 12.5000vw;
    text-align: center;
    font-size: 4.1667vw;
    font-weight: 700;

}

#content .direct2 .left ul li:first-child{
    border: none;
    border-bottom: 0.2778vw solid #000;
    text-align: left;
    font-size: 5.0000vw;
    font-weight: 800;
}

#content .direct2 .left ul li i{
    display: inline-block;
    font-weight: 800;
    padding-left: 18.8889vw;
}
#content .direct2 .left ul li:nth-of-type(2):hover,
#content .direct2 .left ul li:nth-of-type(3):hover{
    color: #fff;
    background:#00a0ca;
    border: none;
}  

#content .direct2 .left ul li:nth-of-type(2):hover a,
#content .direct2 .left ul li:nth-of-type(3):hover a{
    color: #fff;

}  

/* #content .direct2 .right*/

#content .direct2 .right{
    padding-top: 19.4444vw;
}
#content .direct2 .right ul{
 
}
#content .direct2 .right ul li{
    border: 0.1389vw solid #d9d9d9;
    width: 43.8889vw;
    height: 12.5000vw;
    margin-bottom: 2.7778vw;
    line-height: 12.5000vw;
    text-align: center;
    font-size: 4.1667vw;
    font-weight: 700;
}
#content .direct2 .right ul li:hover{

    background:#00a0ca;
    border: none;
}  
#content .direct2 .right ul li:hover a{
    color: #fff;
}



/* #footer */
/* #footer .site */
#footer .site{
    display: flex;
    justify-content: space-around;
 
}

/* #footer .site .family */
#footer .site .family{
    position: relative;
}
#footer .site .family>p{
    display: inline-block;
    width: 47.7778vw;
    height: 11.6667vw;
    font-size: 4.1667vw;
    padding-left: 2.2222vw;
    line-height: 11.6667vw;
    color: #fff;
    background: #555555;
    


}
#footer .site .family p i{
    padding-left: 16.6667vw;
    font-size: 5.0000vw;

}
#footer .site .family ul{
    position: absolute;
  left: 0;top: -109.7222vw;
}
#footer .site .family ul li{
    border: 0.2778vw solid #555555;
    font-size: 3.8889vw;
  width: 47.2222vw;
  padding-left: 1.6667vw;
  background: #fff;
  border-bottom: none;
  


}
#footer .site .family ul li a{

}



/* #footer .site .brand */
#footer .site .brand{
    position: relative;
} 
#footer .site .brand >p{
    display: inline-block;
    width: 47.5000vw;
    height: 11.6667vw;
    padding-left: 2.2222vw;
    font-size: 4.1667vw;
    line-height: 11.6667vw;
    color: #fff;
    background: #555555;


} 
#footer .site .brand p i{
    padding-left: 16.6667vw;
    font-size: 5.0000vw;
} 
#footer .site .brand ul{
    position: absolute;
    left: 0;top: -45.2778vw;

} 
#footer .site .brand ul li{
    border: 0.2778vw solid #555555;
    font-size: 3.8889vw;
    width: 47.2222vw;
    padding-left: 1.6667vw;
    border-bottom: none;
    background: #fff;

 

} 


/* #footer .box */
#footer .box{
display: flex;
background: #787878;
}
#footer .box img{
padding-left: 5.0000vw;
width: 27.7778vw;
height: 5.0000vw;
padding-top: 6.9444vw;
padding-bottom: 6.9444vw;
}

#footer .box ul{
    display: flex;
    padding-left: 23.6111vw;
    width: 31.9444vw;
    justify-content: space-between;
}
#footer .box ul li{
    width: 5.5556vw;
    height: 5.5556vw;
    
}
#footer .box ul li img{
    width: 5.5556vw;
    height: 5.5556vw;
    
}

/* #footer .link */
#footer .link{
    display: flex;
    
background: #787878;

}
#footer .link li a{color: #fff;}
#footer .link li{
    font-size: 3.8889vw;
    padding-left: 5.0000vw;
}
#footer .link li::after{
    content: "";
    width: 0.2778vw;
    height: 3.6111vw;
    display: inline-block;
    /* border: 0.2778vw solid #000; */
    background: #fff;
    margin-left: 4.1667vw;
    vertical-align: middle;
}
#footer .link li:last-child:after{
    display: none;
}


/* #footer .text */
#footer .text{
    font-size: 3.8889vw;
    padding-left: 5.0000vw;
    padding-top: 6.9444vw;
    background: #787878;
color: #fff;
padding-bottom: 5.5556vw;
}
#footer .text li:first-child{
    padding-bottom: 2.7778vw;
}